{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="/static/css/styles.css">
        <script src = "/static/js/button_manager.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class = "row">
            <div class = "column" id = "user_input">
                <form>
                    <label> Request Period (seconds) </label>
                    <input>
                    <label> Uptime Interval (minutes) </label>
                    <input>
                </form>
            
                <form id = "website_form">
                    <label> Website </label>
                    <input>
        
                    <label> Port </label>
                    <input>                    
                </form>

                <button onclick="addFormElements()"> + </button>
                <button onclick="startTest()"> Start </button>
            </div>

            <div class = "column" id = "data_chart_container">
            </div>
        </div>
    </body>
</html>